<h1 align="center"><%= "Category: " + @category.name %></h1>
<div align = "center">
  <%=will_paginate @category_article %>
</div>
<%=render 'articles/article', obj: @category_article %>
<div align = "center">
  
  <%=will_paginate @category_article %>
</div>
