<div class="container">
  
  <footer class="footer">
    <small>Copyright &copy; <a href="#">To be updated...</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
  
</div> <!--container -->